.body{
    background:#fff;
}

.login {
    padding: 0 0 200px;
}

.login__main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 32px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .login__main {
        width: 400px;
    }
}

.login__title {
    font-size: 22px;
    text-align: center;
    margin:0 0 16px;
}

.login-form{
    margin:0 0 32px;
}

.btn-default {
    display: block;
    width: 100%;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    text-align: center;
    height: 40px;
    line-height: 40px;
    position: relative;
    outline: none;
}

.btn-default--mail{
    position: relative;
    background: #ef1d1d;
    color: #fff;
}

.btn-default--facebook{
    background: #3b5998;
    color: #fff;
    margin:0 0 16px;
}

.btn-default--google{
    background: #fff;
    color: rgba(0,0,0,0.54);
    border: 1px solid #ced4da;
}

.btn-default__logo{
    position: absolute;
    left: 16px;
    height: 18px;
    width: 18px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.social-login__deco {
	color: #a0a0a0;
	font-size: 14px;
	display: flex;
	align-items: center;
}

.social-login__deco::before,
.social-login__deco:after {
	content: "";
	flex-grow: 1;
	height: 1px;
	background: #a0a0a0;
	display: block;
}

.social-login__deco:before {
	margin-right: .4em;
}

.social-login__deco:after {
	margin-left: .4em;
}