.form-body {
    background: #f4f4f4;
}

.form {
    padding: 45px 0 70px;
}

.form-logo {
    text-align: center;
    margin: 0 0 40px;
    font-size: 30px;
}

.form-logo__link {
    color: #333;
}

.form-logo__link:hover {
    text-decoration: none;
}

.form-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .form-main {
        width: 400px;
    }
}

.form-main__title {
    font-size: 20px;
    text-align: center;
    margin: 0 0 20px;
    font-weight: 700;
}

.layout-form {
    margin: 0 0 32px;
}

.form__desc {
    margin: 0 0 20px;
}

.form-group {
    margin: 0 0 20px;
}

.form-control {
    padding: 12px 16px 10px;
    height: auto;
}

.form__link {
    color: #00a1e9;
}

.form__link:hover {
    opacity: 0.8;
}

.login .form__link {
    margin: 20px 0 0;
    display: block;
    text-align: center;
}

.social-login__deco {
    color: #a0a0a0;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.social-login__deco::before,
.social-login__deco:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #a0a0a0;
    display: block;
}

.social-login__deco:before {
    margin-right: 2.5em;
}

.social-login__deco:after {
    margin-left: 2.5em;
}

.password-reset__link {
    color: #00a1e9;
    padding: 16px 0 0;
    text-align: center;
    border-top: 1px solid rgb(213, 216, 222);
}

.password-reset__info {
    font-size: 12px;
    color: #7a7a7a;
    margin: 10px 0 0;
    line-height: 1.5;
}
