.btn-default {
    display: block;
    width: 100%;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    text-align: center;
    height: 48px;
    position: relative;
    outline: none;
}

.btn-default--mail {
    background: #ef1d1d;
    color: #fff;
}

.btn-default--facebook {
    background: #3b5998;
    color: #fff;
    margin: 0 0 16px;
}

.btn-default--google {
    background: #fff;
    color: rgba(0, 0, 0, 0.54);
    border: 1px solid #ced4da;
}

.btn-default__logo {
    position: absolute;
    left: 16px;
    height: 18px;
    width: 18px;
    top: 0;
    bottom: 0;
    margin: auto;
}
